.notebook_entry {
	opacity: 0.5;
	width: 100% !important;
	height: 100%;
}
.notebook_entry:hover {
	opacity: 1;
}
#notebook {
	position: fixed;
	z-index: 46000000000;
	right: 10px;
	top: 40px;
	width: 20%;
    border: 1px solid #d3d3d3;
}

#notebookheader {
    padding: 10px;
    cursor: move;
	z-index: 46000000000;
    background-color: #2196F3;
    color: #fff;
}